button:not(.restart-game) {
    width: 150px;
    height: 150px;
    font-size: 3em;
    margin: 1px;
    border: none;
    
    background-color: grey;
    color: black;
}

button:not(.restart-game):hover {
    background-color: lightgray;
    color: black;
}

#console {
    white-space: pre-line;
}

pre, h1, h2, h3, h4, h5, h6 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
}

p, pre {
    color: lightblue;
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
    color: green;
}

body {
    background-color: black;
}

span {
    color: aliceblue;
}

button.restart-game {
    font-size: 4em;
}